h1, h2,p {
	color: #e65100;
}

a, a:visited {
	color: black;
	text-decoration: none;
}

ul {
	list-style-type: none;
}

li {
	margin-bottom: 2%;
}

#filmAjoutera {
	display: inline-block;
	color: white;
	font-size: 24px;
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: #e65100;
	width: 95%;
}